@import "../../styles/index.scss";

.Button {
  @include borders;
  @include buttons;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;

  &.visible {
    border-color: #7b7b7b;
    border-width: 1px;
  }
  & .bomb-red {
    @include widthNumber;
    background: url("minesweeper-sprites.png") -185px  -243px;;
  }

  span {
    margin-left: 2px;
    font-size: 12px;
  }
  & .bomb {
    @include widthNumber;
    background: url("minesweeper-sprites.png") -155px -243px;
  }
  & .flagged {
    @include widthNumber;

    background: url("minesweeper-sprites.png") -62px -243px;
  }
  & .value-1 {
    @include widthNumber;

    background: url("minesweeper-sprites.png") -1px -274px;
  }
  & .value-2 {
    @include widthNumber;

    background: url("minesweeper-sprites.png") -31px -274px;
  }
  & .value-3 {
    @include widthNumber;

    background: url("minesweeper-sprites.png") -62px -274px;
  }
  & .value-4 {
    @include widthNumber;

    background: url("minesweeper-sprites.png") -93px -274px;
  }
  & .value-5 {
    @include widthNumber;

    background: url("minesweeper-sprites.png") -124px -274px;
  }
  & .value-6 {
    @include widthNumber;

    background: url("minesweeper-sprites.png") -155px -274px;
  }
  & .value-7 {
    @include widthNumber;

    background: url("minesweeper-sprites.png") -185px -274px;
  }
  & .value-8 {
    @include widthNumber;

    background: url("minesweeper-sprites.png") -215px -274px;
  }
}
